@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

:root {
  --primary-background-color: rgba(25, 39, 74, 1);
  --primary-font-color: rgba(0, 0, 0, 1);
  --shadow-font-color: rgba(255, 255, 255, 0.705);
  --primary-color: rgba(239, 67, 67, 1);
  --secondary-color: rgba(255, 255, 255, 1);
  --button-color: rgba(239, 67, 67, 1);
  --title-font-size: 32px;

  background-color: var(--primary-background-color);
  font-family: "Sansita", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

.app {
  min-width: 411px;
  max-width: 411px;
  min-height: 879px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}